html{
    width:100%;
    height:99%;
}
body{ 
    font-family: "Nanum Gothic", sans-serif;
    width: 98.5%;
    height: 98%;
}
#root{
    width:100%;
    height:100%;
    -webkit-app-region: drag;
}

.ComponentContainer{
    width:100%;
    height:100%;
}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);