.CharacterGrid{
    width:100%;
    height:100%;
}

.CharacterGrid .CharacterGridView{
    width:100%;
    height:100%;
}

.CharacterGrid .BackButton{
    z-index: 100;
    -webkit-app-region: no-drag;
    cursor: pointer;
    position: absolute;
    top: calc(100% - 40px);
    left: calc(100% - 100px);
}