.CharacterSearch { 
    min-width: 588px;
    height: 200px;
    padding-left: 50px;
    padding-top: 20px;
    background: #f0f0f0;
}

.CharacterSearch .SearchInput{
    display: -webkit-box;
}

.CharacterSearch .LimitSelect{
    margin-left:40px;
}

.CharacterSearch input{
    width: 288px;
}

.CharacterSearch .ButtonContainer{
    width:526px;
}

.CharacterSearch .FormControl{
    display : -webkit-box;
}

.CharacterSearch .form-group{
    margin-right : 30px;
}