.Logo {
    background: #222;
    height: 60px;
    padding: 20px;
    color: white;    
    display: -webkit-box;

  }

  .Logo .imageContainer{

  }

  .Logo .titleContainer{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 30px;
  }

  .Logo .ver{
    padding-top: 30px;
    padding-left: 5px;

  }